<div class="container mx-auto p-4">
  <h1 class="text-2xl font-bold mb-4">{{ isEditRoute ? 'Editar Baralho' : 'Criar Novo Baralho' }}</h1>

  <form (ngSubmit)="saveDeck()" #deckForm="ngForm">
    <div class="mb-4">
      <label for="deckName" class="block mb-2">Nome do Baralho:</label>
      <input type="text" id="deckName" name="deckName" [(ngModel)]="deckName" class="border rounded p-2 w-full" required
        [disabled]="isDeckNameDisabled" />
    </div>

    <div class="mb-4">
      <label for="selectedCard" class="block mb-2">Nome da Carta:</label>
      <select id="selectedCard" name="selectedCard" [(ngModel)]="selectedCard" class="border rounded p-2 w-full">
        <option *ngFor="let card of allCards" [value]="card.id">
          {{ card.name }}
        </option>
      </select>
      <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded mt-2" (click)="addCard()">
        Adicionar Carta
      </button>
    </div>

    <div *ngIf="cards.length > 0" class="mb-4">
      <h2 class="text-xl font-bold mb-2">Cartas no Baralho:</h2>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div *ngFor="let card of cards" class="card-container border p-2 rounded shadow-lg relative">
          <img [src]="card.images.small" alt="{{ card.name }}" class="w-full h-auto rounded-t-lg" />
          <div class="p-2">
            <h3>Nome: {{ card.name }}</h3>
            <p><strong>SuperType:</strong> {{ card.supertype }}</p>
            <p>
              <strong>Tipos:</strong>
              {{ card.types?.join(", ") || "Nenhum tipo especificado" }}
            </p>
          </div>
          <button type="button" class="absolute top-0 right-0 bg-red-500 text-white px-2 py-1 rounded"
            (click)="removeCard(card.id)">
            X
          </button>
        </div>
      </div>
    </div>

    <div class="flex space-x-4">
      <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded">
        Salvar Baralho
      </button>
      <button type="button" class="bg-gray-500 text-white px-4 py-2 rounded" (click)="clearForm()">
        Limpar Formulário
      </button>
    </div>
  </form>
</div>

<style>
  .card-container {
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
</style>
