<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">{{ deck?.name }}</h1>

    <h2 class="text-xl font-semibold mb-2">Detalhes do Baralho</h2>
    <p>Total de Pokémon: {{ getPokemonCount() }}</p>
    <p>Total de Cartas de Treinador: {{ getTrainerCount() }}</p>
    <p>Total de Tipos Únicos: {{ getUniqueTypes() }}</p>

    <h2 class="text-xl font-semibold mb-2 mt-4">Cartas no Baralho</h2>
    <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let card of deck?.cards" class="bg-white p-4 shadow rounded">
            <h3 class="font-semibold">{{ card.name }}</h3>
        </div>
    </div>

    <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4" routerLink="/decks">Voltar para Lista de
        Baralhos</button>
</div>
